node_modules
set_config_folder_dir
yarn-error.log
.env
*.iml
.idea
/src/contracts
/dist
/build
/types
/cache
/artifacts
/contracts/artifacts
/contracts/*/artifacts
/contracts/.deps
/coverage
coverage.json
